$primary-bg: #242e52;
$text-color: #242e52;

$white-fff: #fff;

$gray-3ef: #f4f3ef;
$gray-2ef: #f4f2ef;
$gray-3f0: #f4f3f0;
$gray-6c5: #ddd6c5;

$red-c38: #f75c38;

$black-box-shadow: #00000029;
$black-box-shadow-1e: #0000001e;